openapi: 3.0.3
info:
  title: SSH Proxy Service API
  description: Brokers SSH connections (password/pubkey/certificate auth), container-native sessions, proxy-jump chains, agent forwarding
  version: 1.0.0
  contact:
    name: HelixDevelopment API Team
    email: api@helixdevelopment.io
servers:
  - url: https://api.helixterminator.io
    description: Production
  - url: https://staging-api.helixterminator.io
    description: Staging
tags:
  - name: ssh-proxy
    description: Brokers SSH connections (password/pubkey/certificate auth), container-native sessions, proxy-jump chains, agent forwarding
paths:
  post:
    /api/v1/ssh/sessions:
      summary: Create SSH session
      operationId: /api/v1/ssh/sessionspost
      tags:
        - ssh-proxy
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSSHSessionRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SSHSessionResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
  get:
    /api/v1/ssh/sessions/{sessionId}:
      summary: Get session
      operationId: /api/v1/ssh/sessions/{sessionId}get
      tags:
        - ssh-proxy
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SSHSessionResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
  delete:
    /api/v1/ssh/sessions/{sessionId}:
      summary: Terminate session
      operationId: /api/v1/ssh/sessions/{sessionId}delete
      tags:
        - ssh-proxy
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TerminateSSHSessionResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
  post:
    /api/v1/ssh/sessions/{sessionId}/exec:
      summary: Execute command
      operationId: /api/v1/ssh/sessions/{sessionId}/execpost
      tags:
        - ssh-proxy
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExecCommandRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExecCommandResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
  post:
    /api/v1/ssh/sessions/{sessionId}/shell:
      summary: Request shell
      operationId: /api/v1/ssh/sessions/{sessionId}/shellpost
      tags:
        - ssh-proxy
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequestShellRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestShellResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
  post:
    /api/v1/ssh/sessions/{sessionId}/agent:
      summary: Enable agent forwarding
      operationId: /api/v1/ssh/sessions/{sessionId}/agentpost
      tags:
        - ssh-proxy
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnableAgentRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnableAgentResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
  post:
    /api/v1/ssh/sessions/{sessionId}/jump:
      summary: Add proxy jump
      operationId: /api/v1/ssh/sessions/{sessionId}/jumppost
      tags:
        - ssh-proxy
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddProxyJumpRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddProxyJumpResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
  get:
    /api/v1/ssh/sessions/{sessionId}/keys:
      summary: List host keys
      operationId: /api/v1/ssh/sessions/{sessionId}/keysget
      tags:
        - ssh-proxy
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HostKeysResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
  post:
    /api/v1/ssh/sessions/{sessionId}/keys/verify:
      summary: Verify host key
      operationId: /api/v1/ssh/sessions/{sessionId}/keys/verifypost
      tags:
        - ssh-proxy
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerifyHostKeyRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerifyHostKeyResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
components:
  schemas:
    # Request/Response schemas are defined in the full OpenAPI spec
    # See openapi.yaml for complete schema definitions
  responses:
    BadRequest:
      description: Bad Request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Forbidden:
      description: Forbidden
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: Not Found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    InternalError:
      description: Internal Server Error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
